
@{
    ViewBag.Title = "Se excedió el límite de carga de archivos";
}

<h2>
    Lo siento. Los archivos que ha intentado cargar suman más de 20 MB de tamaño. Por favor regresa
    e intente subirlos uno por uno, o guardarlos en un tamaño o formato de archivo más pequeño.
</h2>

